Django>=4.2,<5.0
psycopg2-binary>=2.9
gunicorn>=20.1.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
openai-whisper
google
google-generativeai
pytubefix
youtube-transcript-api
ffmpeg-python

# dev_dependencies
django-extensions
pydotplus

