[flake8]
max-line-length = 88
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    venv,
    **/__init__.py  # Ensure all __init__.py files are excluded
ignore = E203, E266, E501, W503, F401
