black==24.10.0
faiss-cpu==1.9.0.post1
fastapi==0.100.0
ffmpeg-python==0.2.0
flake8==7.1.1
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-generativeai==0.8.3
huggingface-hub==0.27.1
Jinja2==3.1.5
langchain==0.3.15
langchain-community==0.3.15
langchain-core==0.3.31
langchain-experimental==0.3.4
langchain-google-genai==2.0.9
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.5
langsmith==0.3.1
numpy==1.26.4
openai-whisper==20240930
pillow==10.4.0
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyflakes==3.2.0
pytubefix==8.12.0
regex==2024.11.6
requests==2.32.3
sentence-transformers==3.3.1
soundfile==0.13.0
SQLAlchemy==2.0.37
transformers==4.48.0
uvicorn==0.23.1
youtube-transcript-api==0.6.3
python-multipart
filelock
aiofiles
