/frontend-cal/ @akashreactdeveloper

/backend/ @adityabmv @sidrao2006

/LLMs/ @pranaydeep139

/.github/ @sidrao2006
**/.devcontainer/** @sidrao2006
/dev/ @sidrao2006
/docs/ @sidrao2006
README.md @sidrao2006
.gitignore @sidrao2006